<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Folha de Estilização CSS (Font-End) -->
    <link rel="stylesheet" href="style.css">

    <!-- Título do projeto -->
    <title>To Do List - Project</title>
</head>

<body>

    <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Adicione uma tarefa">
        <button type="submit" id="addButton">Adicionar</button>
    </form>


    <ul>
        <% tasksList.forEach((task)=> { %>
        <li>
            <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>
        </li>
        <% }); %>
    </ul>


    <!-- Script (Front-End) -->
    <script src="script.js"></script>
</body>

</html>