<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Folha de Estilização CSS (Font-End) -->
    <link rel="stylesheet" href="style.css">

    <!-- Título do projeto -->
    <title>To Do List - Project</title>
</head>
<body>
    <h1>Hello world!</h1>


    <!-- Script (Front-End) -->
    <script src="script.js"></script>
</body>
</html>